<div class="flex justify-content-between align-items-center">
  <div></div>
  <p>
    {{ offset + 1 }} -
    {{ offset + 100 < totalLength ? offset + 100 : totalLength }} /
    {{ totalLength }}
  </p>
  <p-button icon="pi pi-search" (onClick)="showSearch()" />
</div>
<p-scrollpanel [style]="{ height: '50vh' }">
  <div class="flex align-items-center" *ngFor="let track of tracks">
    <p-radiobutton
      [id]="track.track.id"
      [value]="track.track.id"
      [inputId]="track.track.id"
      [disabled]="!track.track.id"
      (onClick)="findSelectedIndex($event.value)"
      [(ngModel)]="selectedTrackID"
    />
    <label [for]="track.track.id" class="ml-2 cursor-pointer">
      {{ $any(track) | apptrackLineTitle }}
      <p-button
        icon="pi pi-info-circle"
        aria-label="Track Info"
        rounded="true"
        variant="text"
        styleClass="m-0 p-0 h-min w-min"
        (onClick)="hoveredTrack = $any(track.track); op.toggle($event)"
      />
    </label>
  </div>
</p-scrollpanel>
<p-popover #op>
  <app-track-card *ngIf="hoveredTrack" [track]="hoveredTrack"></app-track-card>
</p-popover>
