<div class="flex align-items-center gap-1 justify-content-between">
  <div class="h-2rem w-2rem cursor-pointer">
    <app-polished-pine routerLink="/"></app-polished-pine>
    <p-toast position="top-center"></p-toast>
  </div>
  <p-menubar #menuBar class="lg:w-full md:flex-row-reverse" [model]="menuItems">
    @if (userDisplay) {
      <ng-template #end>
        <div class="flex align-items-center">
          @if (userDisplay.images?.length) {
            <img
              [src]="userDisplay.images?.[0]?.url"
              alt="User profile picture"
              class="h-2rem"
            />
          }
          <p class="m-0">{{ userDisplay.display_name || userDisplay.id }}</p>
        </div>
      </ng-template>
    }
  </p-menubar>
</div>
<br />
<div class="sm:mx-6 my-2 m-1">
  <router-outlet></router-outlet>
</div>
<footer class="flex flex-grow-1 justify-content-flex-end mt-5 mx-5">
  <div class="w-full flex justify-content-center align-items-end">
    <div class="flex justify-content-center flex-column gap-1">
      <h5 class="m-0 text-center">&copy; {{ year }} Polished Pine, LLC</h5>
      <div class="flex justify-content-center align-items-center gap-4">
        <a
          href="https://github.com/awtrimpe/spotify_local_replacer"
          target="_blank"
          rel="noopener"
        >
          <i class="pi pi-github" style="font-size: 2rem"></i>
        </a>
        <p>
          Made with <i class="pi pi-heart" style="font-size: 1rem"></i> in
          Detroit, MI
        </p>
        <p><a routerLink="/legal">End User Agreement & Privacy Policy</a></p>
      </div>
    </div>
  </div>
</footer>
<p-scrolltop />
