<app-polished-pine class="block w-10rem m-auto"></app-polished-pine>
<h1 class="text-center">Spotify Local Replacer</h1>
<p
  class="w-full lg:w-9 md:w-6 my-3 m-auto text-center text-2xl thin-italic-font"
>
  Bring your local tracks with you
</p>
<p class="w-full lg:w-9 md:w-6 my-3 m-auto">
  Never be without your music again by finding the perfect Spotify match.
  Whether you would prefer Spotify's version, or you are creating a copy that
  can be more easily streamed remotely, this app will make the process easy!
</p>
<div class="w-full flex justify-content-center gap-3">
  <p-button label="Read Guide" [rounded]="true" icon="pi pi-book" />
  <p-button
    label="Login"
    [rounded]="true"
    routerLink="/login"
    icon="pi pi-sign-in"
    severity="info"
    *ngIf="!loggedIn; else loggedInCont"
  />
  <ng-template #loggedInCont>
    <p-button
      label="Select Playlist"
      [rounded]="true"
      routerLink="/playlists"
      icon="pi pi-headphones"
    />
  </ng-template>
</div>
