<app-polished-pine class="block w-10rem m-auto"></app-polished-pine>
<h1 class="text-center">Local Track Replacer</h1>
<p
  class="w-full lg:w-9 md:w-6 my-3 m-auto text-center text-2xl thin-italic-font"
>
  Bring your Spotify local tracks with you
</p>
<p class="w-full lg:w-9 md:w-6 my-3 m-auto">
  Never be without your music again by finding the perfect Spotify match.
  Whether you would prefer Spotify's version, or you are creating a copy that
  can be more easily streamed remotely, this app will make the process easy!
</p>
<div class="w-full flex justify-content-center gap-3">
  <p-button
    label="Read Guide"
    [rounded]="true"
    routerLink="/guide"
    icon="pi pi-book"
  />
  <p-button
    label="Login"
    [rounded]="true"
    (click)="previouslyLoggedIn ? null : (openDialog = true)"
    icon="pi pi-sign-in"
    severity="info"
    [routerLink]="previouslyLoggedIn ? ['/login'] : []"
    *ngIf="!loggedIn; else loggedInCont"
  />
  <p-dialog
    header="Edit Profile"
    [modal]="true"
    [(visible)]="openDialog"
    [style]="{ 'max-width': '90%' }"
  >
    <div class="flex align-items-center flex-column">
      <p>Have you read our End User Agreement & Privacy Policy?</p>
      <p-button
        label="Confirm & Login"
        [rounded]="true"
        routerLink="/login"
        icon="pi pi-sign-in"
        severity="info"
      />
    </div>
    <p-accordion
      expandIcon="pi pi-chevron-down"
      collapseIcon="pi pi-chevron-up"
    >
      <p-accordion-panel value="0">
        <p-accordion-header
          >End User Agreement & Privacy Policy</p-accordion-header
        >
        <p-accordion-content>
          <app-legal />
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
    <p class="text-sm text-center font-italic">
      TL;DR: We will never retain any information about you outside of your own
      browser
    </p>
  </p-dialog>
  <ng-template #loggedInCont>
    <p-button
      label="Select Playlist"
      [rounded]="true"
      routerLink="/playlists"
      icon="pi pi-headphones"
    />
  </ng-template>
</div>
