@import '../node_modules/primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

@font-face {
  font-family: 'Poppins Bold';
  src: url('/fonts/Poppins/Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('/fonts/Poppins/Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Extra Light';
  src: url('/fonts/Poppins/ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Extra Light Italic';
  src: url('/fonts/Poppins/ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Thin';
  src: url('/fonts/Poppins/Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Thin Italic';
  src: url('/fonts/Poppins/ThinItalic.ttf') format('truetype');
}

body {
  font-family: 'Poppins Regular', sans-serif;
  margin: 0px;
  min-height: 100vh;
  padding: 1em;
}

body,
.shared-background {
  background-color: var(--p-gray-100) !important;
}

h1 {
  font-family: 'Poppins Bold', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.playlist-container {
  p-card {
    width: 20em;

    .p-card-title {
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.full-height-card {
  .p-card {
    height: 100%;

    .p-card-body {
      height: 100%;

      .p-card-content {
        height: 100%;
      }
    }
  }
}

.thin-font {
  font-family: 'Poppins Thin', sans-serif;
}

.thin-italic-font {
  font-family: 'Poppins Thin Italic', sans-serif;
}

.disabledLink {
  cursor: none;
  pointer-events: none;
  text-decoration: none;
}

// PrimeNG Changes

.p-menubar {
  .p-menubar-end {
    display: none;
  }

  &.p-menubar-mobile-active .p-menubar-root-list {
    width: auto;
    left: unset !important;
    right: 0;
  }
}

// Dark Theme

@media (prefers-color-scheme: dark) {
  body,
  .shared-background {
    background-color: var(--p-gray-700) !important;
  }
}

@media screen and (max-width: 960px) {
  .p-menubar p-menubarsub {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}
