<div class="flex justify-content-center w-full">
  <app-expiration></app-expiration>
  <p-progress-spinner *ngIf="loading" ariaLabel="loading" />
</div>

<!-- Playlists -->
<div *ngIf="playlists" class="mt-4 w-full flex justify-content-end">
  <p-button
    label="Refresh"
    icon="pi pi-sync"
    [rounded]="true"
    severity="secondary"
    (click)="getUsersPlaylists()"
  />
</div>
<div
  *ngIf="playlists && playlists.items && !loading; else noPlaylists"
  class="flex flex-wrap gap-2 justify-content-center playlist-container mt-1"
>
  <p-card *ngFor="let playlist of playlists.items">
    <ng-template #header>
      <div class="w-4 mt-3 m-auto">
        <app-spotify />
      </div>
      <div class="p-card-title mx-3">{{ playlist.name }}</div>
    </ng-template>
    <div class="m-auto" style="width: 10em; height: 10em">
      <img
        [src]="playlist.images[0].url"
        class="w-full"
        alt="{{ playlist.name }} image"
      />
    </div>
    <p-accordion
      expandIcon="pi pi-chevron-down"
      collapseIcon="pi pi-chevron-up"
    >
      <p-accordion-panel value="0">
        <p-accordion-header>Description</p-accordion-header>
        <p-accordion-content>
          <p class="m-0">
            {{ playlist.description }}
          </p>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
    <div class="flex justify-content-center mt-2">
      <p-button
        [rounded]="true"
        routerLink="/playlists/{{ playlist.id }}/tracks"
        >Select</p-button
      >
    </div>
  </p-card>
</div>

<ng-template #noPlaylists>
  <div class="flex align-items-center">
    <p-message severity="info">No Playlists Found</p-message>
  </div>
</ng-template>
